*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html {font-size:100%;width:100%;margin:0px;padding:0px;-ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;-webkit-box-sizing: border-box;
    box-sizing: border-box;    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;}
body {background: #1e82b3 !important;color:#FFFFFF !important;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;width:100%;margin:0px;padding:0px;}

    img {max-width: 100%;vertical-align: middle;border:0px none;}
    h1,h2,h3,h4,h5,h6{font-weight: bold;margin-top: 0;margin-bottom: .5rem;}  
      p {margin-top: 0;margin-bottom: 1rem;padding:0px;font-size: 1.4rem;}
      p.sub-content {margin: 0 !important;}
    
      h1 {font-size: 2em;margin: 0.67em 0;}
      hr {-webkit-box-sizing: content-box;box-sizing: content-box;height: 0;overflow: visible;}
      a {background-color: transparent;-webkit-text-decoration-skip: objects;color: #F5F5F5;text-decoration: none;}  
      a:active, a:hover {outline-width: 0;}
      [role="button"] {cursor: pointer;}  
      a, area, button, [role="button"], input, label, select, summary, textarea {-ms-touch-action: manipulation;touch-action: manipulation;}  
      table {border-collapse: collapse;background-color: transparent;}
      th {text-align: left;}
      label {display: inline-block;margin-bottom: .5rem;}  
      button:focus {outline: 1px dotted;outline: 5px auto -webkit-focus-ring-color;}  
      input, button, select, textarea {line-height: inherit;}
      textarea {resize: vertical;}
    
      .img-fluid {max-width: 100%;height: auto;}  
      .img-thumbnail {padding: 0.25rem;background-color: #fff;border: 1px solid #ddd;border-radius: 0.25rem;-webkit-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;max-width: 100%;height: auto;}
    
    ul{list-style-type: none;margin: 0px;padding: 0px;}
      b, strong {font-weight: inherit;}
    b, strong {font-weight: bolder;}
    
      svg:not(:root) {overflow: hidden;}  
      button, input, optgroup, select, textarea {font-family: sans-serif;font-size: 100%;line-height: 1.15;margin: 0;}  
      button, input {overflow: visible;}
      button, select {text-transform: none;}  
      button, html [type="button"], [type="reset"], [type="submit"] {-webkit-appearance: button;}  
      button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {border-style: none;padding: 0;}  
      button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {outline: 1px dotted ButtonText;}
      textarea {overflow: auto;}  
      [type="checkbox"], [type="radio"] {-webkit-box-sizing: border-box;box-sizing: border-box;padding: 0;}  
      [type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {height: auto;}  
      [type="search"] {-webkit-appearance: textfield;outline-offset: -2px;}  
      [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {-webkit-appearance: none;}  
      ::-webkit-file-upload-button {-webkit-appearance: button;font: inherit;}
      .hide {display: none !important;}
      .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
      }
      * html .clearfix             { zoom: 1; } /* IE6 */
      *:first-child+html .clearfix { zoom: 1; } /* IE7 */


.main-container{position: relative;width:100%;margin:0px;padding:0px;*zoom:1;height: 100%;min-height: 568px;}
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.full-width-block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.width-10{width:10% !important;}
.width-15{width:15% !important;}
.width-20{width:20% !important;}
.width-25{width:25% !important;}
.width-30{width:30% !important;}
.width-33{width:33% !important;}
.width-35{width:35% !important;}
.width-40{width:40% !important;}
.width-45{width:45% !important;}
.width-50{width:50% !important;}
.width-55{width:55% !important;}
.width-60{width:60% !important;}
.width-65{width:65% !important;}
.width-70{width:70% !important;}
.width-75{width:75% !important;}
.width-80{width:80% !important;}
.width-85{width:85% !important;}
.width-90{width:90% !important;}
.width-95{width:95% !important;}
.width-98{width:98% !important;}

.margin-top-5{margin-top:5px !important;}
.margin-top-10{margin-top:10px !important;}
.margin-top-15{margin-top:15px !important;}
.margin-top-20{margin-top:20px !important;}
.margin-top-25{margin-top:25px !important;}
.margin-top-30{margin-top:30px !important;}
.margin-top-35{margin-top:35px !important;}
.margin-top-40{margin-top:40px !important;}
.margin-right-5{margin-right:5px !important;}
.margin-right-10{margin-right:10px !important;}
.margin-right-15{margin-right:15px !important;}
.margin-right-20{margin-right:20px !important;}
.margin-right-25{margin-right:25px !important;}
.margin-right-30{margin-right:30px !important;}
.margin-right-35{margin-right:35px !important;}
.margin-right-40{margin-right:40px !important;}
.margin-bottom-5{margin-bottom:5px !important;}
.margin-bottom-10{margin-bottom:10px !important;}
.margin-bottom-15{margin-bottom:15px !important;}
.margin-bottom-20{margin-bottom:20px !important;}
.margin-bottom-25{margin-bottom:25px !important;}
.margin-bottom-30{margin-bottom:30px !important;}
.margin-bottom-35{margin-bottom:35px !important;}
.margin-bottom-40{margin-bottom:40px !important;}
.margin-left-5{margin-left:5px !important;}
.margin-left-10{margin-left:10px !important;}
.margin-left-15{margin-left:15px !important;}
.margin-left-20{margin-left:20px !important;}
.margin-left-25{margin-left:25px !important;}
.margin-left-30{margin-left:30px !important;}
.margin-left-35{margin-left:35px !important;}
.margin-left-40{margin-left:40px !important;}
.center{width:100%;margin:0px auto;text-align: center;justify-content: center;}
.bottom{position: absolute;bottom:20%;left:1px;right:1px;}
  .login-button{background: #aa3d8f;color:#FFFFFF !important;border-radius: 8px !important;padding: 15px 40px !important;}
  .gotophoto-button{background: #e59c35;color:#FFFFFF !important;border-radius: 8px !important;padding: 15px 40px !important;}
  .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;cursor: pointer;
}
.content{position: relative;}
#instaCapsule{
    list-style-type: none;
    /*width: 360px;
    height: 360px;*/
    overflow: hidden;
    text-align: center;
    margin: 0px auto;
    padding: 0px;
    position: relative;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-padding-start: 0px;
  }
  #instaCapsule li{
    margin: 0px;
    text-align: center;
  }
  #instaCapsule li img{
    max-width:72%;
  }
  .nvgtBtn{position: absolute;background: none;
    border: 0px none;
    color: rgb(256, 256, 256);
    font-size: 72px;
    font-family: monospace;
    line-height: 72px;
    font-weight: normal;
    width:46px;
    height: 84px;
    top: 40%;cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;}
  .nvgtBtn.backButton{left: 1px;}
  .nvgtBtn.forwardButton{right: 1px;}
  #insta_userinfo div p img{border-radius: 72px;}
  .withData .innerTitle{font-size:14px;}